
.fondo {
    background-color: brown;
}

.titulo {
    font-size: 50px;
    font-style: italic;
    font-family: "Montserrat", "Roboto", sans-serif;
    color:darkblue;
}

.vid {
    display: flex;
    justify-content: center;
}

.piedepag {
    font-size: 40px;
    font-style: italic;
    font-family: "Montserrat", "Roboto", sans-serif;
    color:darkblue;
    text-align: center;
}

.imagen2 {

    width: 300px;
}


